# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.sdf
*.log
*.pdb
*.tlog
*.lastbuildstate
*.ipch
*.res
*.ilk
*.idb
*.gif

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
